<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.tailwindcss.com/2.2.19/tailwind.min.css"
            rel="stylesheet">
        <script src="https://kit.fontawesome.com/61e1e4c667.js"
            crossorigin="anonymous"></script>
        <script src="https://cdn.tailwindcss.com"></script>

        <title>Document</title>
    </head>
    <body class="bg-slate-500">

        <div id="app">
            <form id="form-1"
                class=" fixed inset-x-36 inset-10 bg-white m-2 px-12 rounded-md  font-mono border-4 "
                action>
                <div class="m-2 p-3 mb-0 pb-0 font-bold">Account Details </div>
                <div class="avt flex">
                    <img id="previewImage" class="rounded-3xl m-1 p-1 w-24"
                        :src="previewImageSrc"
                        alt>
                    <div>
                        <button id="uploadBtn" type="button"
                            @click.prevent="handleUploadClick"
                            class="bg-green-500 hover:bg-yellow-700 text-white font-bold py-2 px-1 rounded h-10 mt-4">Upload
                            new photo</button>
                        <input @change="onFileChange" type="file" id="fileInput"
                            class="hidden"
                            accept="image/jpeg, image/png, image/gif">
                        <p class="text-xs font-bold m-2">Allow JPG, PNG or GIF</p>

                    </div>
                </div>
                <div class="mb-2 .form-group">
                    <label for="name" class="block text-gray-700 font-semibold">
                        Họ và tên:</label>

                    <input type="text" id="name" name="name" v-model="name"
                        class="border border-gray-400 px-4 py-2 w-full rounded-lg"
                        required placeholder="Luu Van Duy">

                    <span class="form-message"></span>
                </div>

                <div class="mb-2 .form-group">
                    <label for="email" class="block text-gray-700 font-semibold">Email:</label>
                    <input type="email" id="email" name="email" v-model="email"
                        class="border border-gray-400 px-4 py-2 w-full rounded-lg"
                        required placeholder="abc@gmail.com">
                    <span class="form-message"></span>
                </div>

                <div class="mb-2 .form-group">
                    <label for="address" class="block text-gray-700 font-semibold">Địa chỉ:</label>
                    <select id="address" name="address" required v-model="selectedAddress"
                        class="border border-gray-400 px-4 py-2 w-full rounded-lg">
                        <option v-for="addr in addresses" :key="addr.id" :value="addr.id">{{ addr.label }}</option>
                    </select>
                    <span class="form-message"></span>
                </div>

                <div class="mb-2 .form-group">
                    <label class="block text-gray-700 font-semibold">Công việc:</label>
                    <div class="border-2 block rounded p-2 px-6 leading-2">
                        <div v-for="(job, index) in jobs" :key="index"
                            class="flex items-center space-x-4 justify-between">
                            <label :for="job.id">{{ job.label }}</label>
                            <input type="checkbox" :id="job.id" name="job"
                                v-model="jobs[index].value" :value="job.id">
                        </div>
                    </div>
                    <span class="form-message"></span>
                </div>
                <div class="mb-2 .form-group">
                    <label class="block text-gray-700 font-semibold">Giới tính:</label>
                    <div class="mb-2 border-2 block rounded p-2 px-6 leading-2 ">

                        <div class="flex items-center space-x-4 justify-between">
                            <label for="male">Nam</label>
                            <input type="radio" id="male" name="gender"
                                v-model="gender"
                                value="male">
                        </div>
                        <div class="flex items-center space-x-4 justify-between">
                            <label for="male">nữ</label>
                            <input type="radio" id="female" name="gender"
                                v-model="gender"
                                value="female">
                        </div>
                    </div>
                    <span class="form-message"></span>
                </div>
                <div class=".form-group">
                    <input type="submit" value="Save Change"
                        @click="handleSubmit"
                        class="bg-green-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 cursor-pointer">
                    <button @click.prevent="handleResetClick" type="button"
                        class="bg-gray-500 hover:bg-red-700 text-white font-bold py-2 px-1 rounded h-10 mt-4">Reset</button>
                </div>
            </form>
        </div>
        <script src="https://unpkg.com/vue@next"></script>
        <script>
        const app = Vue.createApp({
            data() {
                return {
                    previewImageSrc: '', // Trạng thái cho việc hiển thị ảnh trước khi tải lên
                    name: '', // Dữ liệu của trường "Họ và tên"
                    email: '', // Dữ liệu của trường "Email"
                    addresses: [
                        { id: 'option1', label: 'Địa chỉ 1' },
                        { id: 'option2', label: 'Địa chỉ 2' },
                        { id: 'option3', label: 'Địa chỉ 3' },
                        { id: 'option4', label: 'Địa chỉ 4' },
                        { id: 'option5', label: 'Địa chỉ 5' },
                        //Dữ liệu của trường "Địa chỉ"
                    ],
                    selectedAddress :"",
                    jobs: [
                        { id: 'job1', label: 'Công việc 1', value: false },
                        { id: 'job2', label: 'Công việc 2', value: false },
                        { id: 'job3', label: 'Công việc 3', value: false }
                    ],
                    gender: '', // Dữ liệu của trường "Giới tính"
                }
            },
            methods: {
                // Xử lý sự kiện khi người dùng chọn ảnh
                onFileChange(event) {
                    const file = event.target.files[0];
                    if (file) {
                        const reader = new FileReader();
                        reader.onload = () => {
                            this.previewImageSrc = reader.result;
                        };
                        reader.readAsDataURL(file);
                    }
                },
                handleUploadClick() {
                        // Kích hoạt sự kiện click trên input file ẩn
                        const fileInput = document.getElementById('fileInput');
                        fileInput.click();
                },
                handleResetClick() {
                    // Xóa dữ liệu đã nhập
                    this.previewImageSrc = '';
                    this.name = '';
                    this.email = '';
                    this.selectedAddress = '';
                    this.jobs.forEach(job => job.value = false);
                    this.gender = '';
                },
                handleSubmit() {
                    
                    // Log các dữ liệu nhập vào ra console
                    const selectedJobs = this.jobs.filter(job => job.value);
                    console.log(`\n Họ và tên: ${this.name}`
                        + `\n Email: ${this.email}`
                        + `\n Địa chỉ: ${this.selectedAddress}` 
                        + `\n Công việc: ${selectedJobs.map(job => job.label).join(", ")}`
                        + `\n Giới tính: ${this.gender}`
                        + `\n Avatar: ${this.previewImageSrc}`);

                    // Thực hiện submit form (nếu cần)
                    const form = document.getElementById('form-1');
                    form.submit();
                },

            },
        });

        // Kết nối Vue với phần tử có id="app"
        app.mount('#app');
    </script>
    </body>

</html>